.home-card {
  background: red !important;
  width: 20%;
  padding: 10px;
  color: white !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-card-button > a {
  color: white !important;
  text-decoration: none;
}
.home-card-img {
  height: 50px;
  width: 50px;
  margin: 10px auto;
}
.home-card > div {
  padding: 10px;
}
.home-card-button {
  font-size: x-large;
}
